<a href="https://colab.research.google.com/github/amjoshi93/Course-Tasks-/blob/main/Task5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]  #access Mike

'Mike'

In [10]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["marks"]["python"] #access 80

80

In [13]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]="Your Name"  #change Mike to your name
dict1

{'april_batch': {'student': {'marks': {'maths': 70, 'python': 80},
   'name': 'Your Name'}}}

In [14]:
#add ML = 80 and DL = 80 inside marks
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1["april_batch"]["student"]["marks"]["DL"]=80
dict1

{'april_batch': {'student': {'marks': {'DL': 80,
    'ML': 80,
    'maths': 70,
    'python': 80},
   'name': 'Mike'}}}