<a href="https://colab.research.google.com/github/amjoshi93/Course-Tasks-/blob/main/task12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from functools import reduce #necessary step

def my_add(a, b):
        result = a + b
        print(f"{a} + {b} = {result}")
        return result

numbers = [0, 1, 2, 3, 5]
reduce(my_add, numbers, 100)  #reduce(function, iterable, initializer=0(default))

100 + 0 = 100
100 + 1 = 101
101 + 2 = 103
103 + 3 = 106
106 + 5 = 111

111

In [18]:
a = ("John", "Charles", "Mike")   #zip()
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)
list(x)

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [20]:
#python
# Python program to illustrate
# enumerate function
l1 = ["eat","sleep","repeat"]
s1 = "geek"
 
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
 
print ("Return type:",type(obj1))
print (list(enumerate(l1)))
 
# changing start index to 2 from 0
print (list(enumerate(s1,3)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(3, 'g'), (4, 'e'), (5, 'e'), (6, 'k')]